{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify grp_tags %}

{% block breadcrumbs %}
    <ul>
        <li><a href="../../../../">{% trans "Home" %}</a></li>
        <li><a href="../../../">{{ app_label|capfirst|escape }}</a></li>
        <li>{% if has_change_permission %}<a href="../../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}</li>
       
        <li><a href="../">{{ occurrence }}</a></li>

        {% if title %}<li>{{ title }}</li>{% endif %}
    </ul>
{% endblock %}


{% block title %}{{ title }}{% endblock %}


{% block content %}
<div id="content-main">


    {% if occurrence.signup_set.all %}

    <form action="" method="post">
    {% csrf_token %}

    {% spaceless %}
    <fieldset class="grp-module grp-collapse grp-open">



        {{ form.non_field_errors }}
        <div class="grp-row">
            <p class="grp-description">Send an email to all attendants of the course {{ occurrence.course.title }} on {{ occurrence.start|date }}.</p>
        </div>

        <div class="grp-row">
            <div class="l-2c-fluid l-d-4">
                <div class="c-1"><label class="required">{{ form.subject.label }}</label></div>
                <div class="c-2">
                    <input type="text" name="subject" id="id_subject" class="vTextField">
                    {{ form.subject.errors }}
                    <p class="grp-help">{{ form.subject.helptext }}</p>
                </div>
            </div>
        </div>

        <div class="grp-row">
            <div class="l-2c-fluid l-d-4">
                <div class="c-1"><label class="required">Recipients</label></div>
                <div class="c-2">
                    <p class="grp-readonly">{% for s in occurrence.signup_set.all %} &quot;{{ s.first_name }} {{ s.last_name }}&quot; &lt;{{ s.email }}&gt;,{% endfor %}
                    </p>
                    <p class="grp-help">These people will receive the message.</p>

                </div>
            </div>
        </div>

        <div class="grp-row">
            <div class="l-2c-fluid l-d-4">
                <div class="c-1"><label class="required">{{ form.message.label }}</label></div>
                <div class="c-2">
                    {{ form.message }}
                    {{ form.message.errors }}
                    <p class="grp-help">{{ form.message.helptext }}</p>
                </div>
            </div>
        </div>

    </fieldset>
    {% endspaceless %}

    <footer class="grp-module grp-submit-row grp-fixed-footer">
        <header style="display:none"><h1>Submit Options</h1></header>
        <ul>
            <li class="grp-float-left"><a class="grp-button grp-cancel-link" href="../">cancel</a></li>
            <li><input type="submit" value="send emails" class="grp-button grp-default"/></li>
        </ul>
    </footer>

    </form>

    {% else %}
    <div class="grp-module grp-collapse grp-open">
        <div class="grp-row">
            <p class="grp-description">No one has signed up for this course yet, so you can't send them an email. <a href="../" c>Go back</a></p>
        </div>
    </div>

    {% endif %}

</div>
{% endblock %}