{% load flatblock_tags %}
<form action="" method="post">
{% csrf_token %}

    <fieldset>

        <ol>


        <li>
            {{ form.email.errors }}
            <label for={{ form.email.name }}>{{ form.email.label }}</label>
            <input id=email name={{ form.email.name }} type=email placeholder="example@domain.com" required>
        </li>

        <li>
            {{ form.first_name.errors }}
            <label for={{ form.first_name.name }}>{{ form.first_name.label }}</label>
            <input id={{ form.first_name.name }} name={{ form.first_name.name }} type=text placeholder="First name" required>
        </li>

        <li>
            {{ form.last_name.errors }}
            <label for={{ form.last_name.name }}>{{ form.last_name.label }}</label>
            <input id={{ form.last_name.name }} name={{ form.last_name.name }} type=text placeholder="Last name" required>
        </li>

        <li>
            {{ form.phone.errors }}
            <label for={{ form.phone.name }}>{{ form.phone.label }}</label>
            <input id={{ form.phone.name }} name={{ form.phone.name }} type=phone placeholder="eg. +45 99999999">
        </li>

       

       <li>
            {{ form.profession.errors }}
            <label for={{ form.profession.name }}>{{ form.profession.label }}</label>
            <input id={{ form.profession.name }} name={{ form.profession.name }} type=text required>
       </li>

        <li>
            {{ form.note.errors }}
            <label for={{ form.note.name }}>{{ form.note.label }}</label>
            <textarea id={{ form.note.name }} name={{ form.note.name }} rows=5></textarea>
        </li>
				
				
        <li>
            {{ form.address.errors }}
            <label for={{ form.address.name }}>{{ form.address.label }}</label>
            <input id={{ form.address.name }} name={{ form.address.name }} type=text required>
        </li>

       <li>
            {{ form.postal_code.errors }}
            <label for={{ form.postal_code.name }}>{{ form.postal_code.label }}</label>
            <input id={{ form.postal_code.name }} name={{ form.postal_code.name }} type=text required>
       </li>

       <li>
            {{ form.country.errors }}
            <label for={{ form.country.name }}>{{ form.country.label }}</label>
            <input id={{ form.country.name }} name={{ form.country.name }} type=text required>
       </li>
				
			 <hr>
			 <h3>Billing address, if different than above.</h3>
       <li>
           {{ form.billing_address.errors }}
           <label for={{ form.billing_address.name }}>{{ form.billing_address.label }}</label>
           <input id={{ form.billing_address.name }} name={{ form.billing_address.name }} type=text required>
       </li>

      <li>
           {{ form.billing_postal_code.errors }}
           <label for={{ form.billing_postal_code.name }}>{{ form.billing_postal_code.label }}</label>
           <input id={{ form.billing_postal_code.name }} name={{ form.billing_postal_code.name }} type=text required>
      </li>

      <li>
           {{ form.billing_country.errors }}
           <label for={{ form.billing_country.name }}>{{ form.billing_country.label }}</label>
           <input id={{ form.billing_country.name }} name={{ form.billing_country.name }} type=text required>
      </li>
				

        </ol>

    </fieldset>

    {% flatblock 'signup.terms' %}
    <input type="submit" value="sign up now" />
</form>