{% extends 'base.html' %}
{% load markup %}

{% block title %}{{ course.title }}{% endblock %}

{% block description %}{{ course.description|striptags }}{% endblock %}

{% block content %}

    <article id="{{ course.slug }}">

        <header>

            {% if user.is_staff %}
            <ul class="object-admin-navigation">
                <li><a href="{% url admin:courses_course_change course.id %}">edit</a></li>
            </ul>
            {% endif %}

            <h1>{{ course.title }}</h1>
        </header>

        <section class="body">
            {{ course.body|markdown }}
        </section>

        <section id="occurrences" class="occurrence-list">
            <h2>Coming course dates</h2>
            {% if course.get_future_occurrences %}
            <table>
                <thead>
                    <th>Date and time
                    <th>Location
                    <th>Sign up

                <tbody>
                {% for occ in course.get_future_occurrences %}
                    <tr class="{% cycle 'odd' 'even' %}">
                        <td>
                            <a href="{{ occ.get_absolute_url }}">
                            <time>{{ occ.start|date:"N j, H:i" }}</time>

                            {% if occ.end %}
                                to
                                <time>
                                  {% if occ.end.date == occ.start.date  %}
                                    {{ occ.end|time }}
                                  {% else %}
                                    {{ occ.end|date:"N j, H:i" }}
                                  {% endif %}
                                </time>
                            {% endif %}
                            </a>

                    <td>
                        {{ occ.location }}

                    <td>

                        {% if occ.status == occ.OPEN_STATUS %}
                            <a href="{{ occ.get_absolute_url }}" class="button">sign up</a>
                        {% elif occ.status == occ.CLOSED_STATUS %}
                            Closed
                        {% elif occ.status == occ.FULL_STATUS %}
                            Full
                        {% endif %}

                {% endfor %}

                </table>
            {% else %}
                <p>There are no coming course dates. Contact us to let us know if you would like one scheduled.</p>
            {% endif %}
        </section>


    </article>

{% endblock %}