{% extends 'base.html' %}
{% load markup %}
{% load flatblock_tags %}

{% block title %}{{ occurrence.course.title }} - {{ occurrence.start }}{% endblock %}
{% block description %}{{ occurrence.course.description|striptags }}{% endblock %}

{% block content %}

    <article id="occurrence-{{ occurrence.id }}">

        <header>

            {% if user.is_staff %}
            <ul class="object-admin-navigation">
                <li><a href="{% url admin:courses_occurrence_change occurrence.id %}">edit</a></li>
            </ul>
            {% endif %}

            <h1>{{ occurrence.course.title }}</h1>
        </header>

        <section class="summary">
            <dl>

            <dt>Time:</dt>
            <dd>
                <time>{{ occurrence.start }}</time>
                {% if occurrence.end %}
                to
                <time>
                    {% if occurrence.end.date == occurrence.start.date  %}
                    {{ occurrence.end|time }}
                    {% else %}
                    {{ occurrence.end }}
                    {% endif %}
                </time>
                {% endif %}
                </dd>
            <dt>Location:</dt> <dd>{{ occurrence.location }}</dd>
            <dt>Price:</dt> <dd>{{ occurrence.price }} DKK</dd>
            </dl>

            <p>{{ occurrence.course.description }}</p>
            <a href="{{ occurrence.course.get_absolute_url }}" class="button">read more</a>
        </section>

        <section class="specific-info">
            <h2>Details</h2>
            <p>{{ occurrence.details }}</p>
        </section>

        <section id="coursesignupform">
            <h2>Sign up</h2>

            {% if occurrence.status == occurrence.OPEN_STATUS %}

                {% include "courses/_signup_form.html" %}

            {% elif occurrence.status == occurrence.CLOSED_STATUS %}

                <p>Sign up for this course is closed.</p>

            {% elif occurrence.status == occurrence.FULL_STATUS %}

                <p>This course is already filled.</p>

            {% endif %}

        </section>

    </article>

{% endblock %}