Django==1.4
Markdown==2.1.1
PIL==1.1.7
South==0.7.4
django-flatblocks==0.6.0
django-grappelli==2.4.0
django-robots==0.8.0
docutils==0.9.1
numpy==1.6.1
oauth2==1.5.170
pycrypto==2.4.1
python-twitter==0.8.2
rope==0.9.3
simplejson==2.1.6
sorl-thumbnail==11.12
ssh==1.7.11
wsgiref==0.1.2