{% extends 'base.html' %}
{% load markup %}
{% load flatpages %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block description %}make short non html version of content{% endblock %}

{% block content %}
    <article id="{{ flatpage.slug }}">

        <header>
            {% if user.is_staff %}
            <ul class="object-admin-navigation">
                <li><a href="{% url admin:flatpages_flatpage_change flatpage.id %}">edit</a></li>
            </ul>
            {% endif %}

            <h1>{{ flatpage.title }}</h1>

            <nav class="flatpage-nav c-1">
                <ul>
                    {% get_flatpages flatpage.url as pages %}
                                  
                    {% for page in pages %}
                        {% if page.url != flatpage.url %}
                            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                        {% endif %}
                    {% endfor %}

                </ul>
            </nav>
        </header>

        {{ flatpage.content|markdown }}
    </article>

{% endblock %}