@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,400italic,700italic);
/* line 4, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0; }

/* line 18, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 20, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 21, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" ""; }
  /* line 67, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

/* line 22, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 23, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 24, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none; }

/* line 58, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body {
  font-size: 100%;
  line-height: 1.5em; }

/* line 62, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html > body {
  font-size: 16px; }

/* line 58, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body {
  font-size: 100%;
  line-height: 1.5em; }

/* line 62, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html > body {
  font-size: 16px; }

/* line 14, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  background-color: #4f3700;
  color: #f7f7f7;
  margin: 0;
  padding: 0; }
  /* line 21, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
  body div#wrapper {
    width: 100%; }

/* line 26, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
p {
  font-size: 1em;
  line-height: 1.5em;
  padding: 0;
  margin: 1.5em 0; }

/* line 32, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
section, article {
  margin-bottom: 1.5em; }

/* line 36, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
.section-title, #sidebar h1 {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
  font-weight: 500;
  text-transform: uppercase; }

/* line 43, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
h1, h2, h3, h4 {
  display: block;
  font-family: "Quattrocento Sans";
  padding: 0; }
  /* line 48, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
  h1 a, h2 a, h3 a, h4 a {
    text-decoration: none;
    color: #111111; }

/* line 54, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
h1 {
  font-size: 2.25em;
  line-height: 1.333em;
  font-weight: 200;
  color: #111111; }

/* line 61, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
h2 {
  font-size: 1.75em;
  line-height: 0.857em;
  color: #111111; }

/* line 67, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
#siteheader {
  border-color: #e8ff57;
  border-bottom-style: solid;
  border-bottom-width: 0.125em;
  padding-bottom: 1.375em; }
  /* line 71, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
  #siteheader .container {
    padding-top: 1.5em; }
  /* line 75, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
  #siteheader nav ul {
    margin-top: 1.5em; }
    /* line 79, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
    #siteheader nav ul li {
      list-style-type: none;
      display: block;
      float: left;
      padding-right: 1em; }
      /* line 85, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
      #siteheader nav ul li a {
        text-decoration: none;
        color: #efff8a; }
  /* line 92, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
  #siteheader h2 {
    color: white;
    font-size: 1.875em;
    line-height: 1.6em; }
  /* line 97, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
  #siteheader h1.logo {
    font-size: 2.25em;
    line-height: 1.333em; }
    /* line 99, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
    #siteheader h1.logo a {
      color: white; }

/* line 109, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
#sitefooter nav ul li {
  list-style-type: none;
  display: block;
  float: left;
  padding-right: 1em; }
  /* line 115, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
  #sitefooter nav ul li a {
    text-decoration: none;
    color: #efff8a; }

/* line 127, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
nav.flatpage-nav ul li {
  list-style-type: none;
  display: block;
  float: left;
  padding-right: 1em; }
  /* line 133, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
  nav.flatpage-nav ul li a {
    text-decoration: none;
    color: #100075; }

/* line 142, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
#s1 {
  overflow: hidden;
  height: 15em; }
  /* line 145, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
  #s1 img {
    width: 100%;
    height: auto; }

/* line 152, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
a.button {
  display: inline-block;
  font-size: 0.875em;
  line-height: 1.714em;
  margin-top: 0.375em;
  padding-top: 0.375em;
  padding-bottom: 0.375em;
  margin-bottom: 0.375em;
  padding-right: 0.75em;
  padding-left: 0.75em;
  whitespace: nowrap;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #3b2900;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  border-radius: 4px / 4px; }
  /* line 169, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
  a.button:hover {
    color: #efff8a; }

/* line 177, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
#estill-logo img {
  width: auto;
  float: right;
  height: 3em; }

/* line 186, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
.course-list article {
  position: relative; }
  /* line 188, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
  .course-list article h1 {
    font-size: 1.625em;
    line-height: 0.923em; }
/* line 193, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
.course-list p {
  font-size: 1.125em;
  line-height: 1.333em;
  margin-top: 0.375em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.125em; }

/* line 199, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
#content {
  padding-top: 1.5em;
  color: #111111;
  background: #dfecdf; }

/* line 207, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
.object-admin-navigation {
  position: absolute;
  top: 0;
  right: 0; }
  /* line 211, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
  .object-admin-navigation li {
    list-style-type: none;
    display: inline; }
    /* line 214, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
    .object-admin-navigation li a {
      display: inline-block;
      font-size: 0.75em;
      line-height: 1.5em;
      padding: 2px 8px;
      whitespace: nowrap;
      text-align: center;
      text-decoration: none;
      color: #dfecdf;
      background-color: rgba(3, 2, 0, 0.5);
      -webkit-border-radius: 4px 4px;
      -moz-border-radius: 4px / 4px;
      -ms-border-radius: 4px / 4px;
      -o-border-radius: 4px / 4px;
      border-radius: 4px / 4px; }
      /* line 230, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
      .object-admin-navigation li a:hover {
        color: #efff8a; }

/* line 239, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
#main {
  position: relative; }

/* line 241, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
.flatblock {
  position: relative; }

/* line 246, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
#occurrences table {
  width: 100%;
  margin-top: 1.5em;
  border-collapse: collapse; }
  /* line 253, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
  #occurrences table thead {
    border-bottom: solid thin; }
  /* line 257, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
  #occurrences table td, #occurrences table th {
    padding: 0 0.5em; }
    /* line 260, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
    #occurrences table td p, #occurrences table th p {
      line-height: 1.2; }
  /* line 265, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
  #occurrences table th {
    font-weight: 200; }
  /* line 269, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
  #occurrences table td.signup {
    width: 75px; }
  /* line 273, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
  #occurrences table td {
    font-size: 1em;
    line-height: 3em; }
  /* line 277, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
  #occurrences table tr.even {
    border-top: solid thin;
    background: #c5ddc5; }

/* line 286, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
#coursesignupform form ol {
  list-style-type: none; }
  /* line 293, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
  #coursesignupform form ol label {
    display: block;
    font-size: 0.75em;
    line-height: 2em;
    font-weight: 500; }
  /* line 299, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
  #coursesignupform form ol input, #coursesignupform form ol textarea {
    width: 100%; }
/* line 305, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
#coursesignupform input[type=submit] {
  cursor: pointer;
  font-size: 1.125em;
  line-height: 1.333em;
  margin-top: 0.375em;
  padding-top: 0.375em;
  padding-bottom: 0.375em;
  margin-bottom: 0.375em;
  padding-right: 0.75em;
  padding-left: 0.75em;
  color: #dfecdf;
  background-color: #4f3700;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  border-radius: 4px / 4px; }
  /* line 319, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
  #coursesignupform input[type=submit]:hover {
    color: #efff8a; }

/* line 329, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_default.scss */
.occurrence-detail dl dt {
  float: left;
  width: 90px; }

/* line 58, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body {
  font-size: 100%;
  line-height: 1.5em; }

/* line 62, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html > body {
  font-size: 16px; }

/* line 58, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body {
  font-size: 100%;
  line-height: 1.5em; }

/* line 62, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html > body {
  font-size: 16px; }

@media screen and (min-width: 768px) and (max-width: 980px) {
  /* line 18, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_tablet-portrait.scss */
  #siteheader h1.logo {
    font-size: 2.25em;
    line-height: 1.333em; }
  /* line 21, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_tablet-portrait.scss */
  #siteheader h2 {
    font-size: 1.25em;
    line-height: 1.2em; } }
/* line 58, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body {
  font-size: 100%;
  line-height: 1.5em; }

/* line 62, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html > body {
  font-size: 16px; }

@media screen and (max-width: 479px) {
  /* line 19, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_handheld.scss */
  #siteheader h1.logo {
    font-size: 1.625em;
    line-height: 0.923em; }
  /* line 22, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_handheld.scss */
  #siteheader h2 {
    font-size: 1.125em;
    line-height: 1.333em; }
  /* line 26, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_handheld.scss */
  #siteheader #estill-logo img {
    height: 2.5em;
    float: left;
    margin-top: 0.75em; }

  /* line 41, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_handheld.scss */
  .wrapper {
    padding-left: 1em;
    padding-right: 1em; }

  /* line 49, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_handheld.scss */
  #occurrences table th {
    font-size: 0.75em;
    line-height: 2em; }
  /* line 52, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_handheld.scss */
  #occurrences table td {
    font-size: 0.75em;
    line-height: 2em; }
    /* line 54, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_handheld.scss */
    #occurrences table td .button {
      text-wrap: nowrap; } }
/* line 58, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
body {
  font-size: 100%;
  line-height: 1.5em; }

/* line 62, /Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html > body {
  font-size: 16px; }

@media screen and (min-width: 480px) and (max-width: 767px) {
  /* line 17, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_handheld-landscape.scss */
  #siteheader h1.logo {
    font-size: 1.625em;
    line-height: 0.923em; }
  /* line 20, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_handheld-landscape.scss */
  #siteheader h2 {
    font-size: 1.125em;
    line-height: 1.333em; }
  /* line 24, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_handheld-landscape.scss */
  #siteheader #estill-logo img {
    height: 2.5em;
    float: left;
    margin-top: 0.75em; }

  /* line 34, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_handheld-landscape.scss */
  #occurrences table th {
    font-size: 0.75em;
    line-height: 2em; }
  /* line 37, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_handheld-landscape.scss */
  #occurrences table td {
    font-size: 0.813em;
    line-height: 1.846em; }
    /* line 39, /Users/johan/dev/hyldstrupwestmark/static/sass/partials/_handheld-landscape.scss */
    #occurrences table td .button {
      text-wrap: nowrap; } }
