{% load i18n %}
{% load flatblock_tags %}
{% load flatpages %}

{% get_current_language as LANG %}

<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html dir="ltr" lang="{{ LANG }}" class="no-js"> <!--<![endif]-->
<head>
    <title>{% block title %}Estill voice training with Hyldstrup & Westmark{% endblock %}</title>
    <meta name="description" content="{% block description %}Estill Voice training in Europe with Dorte Hyldstrup and Helga Westmark{% endblock %}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{ STATIC_URL }}css/grid/output.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/screen.css" rel="stylesheet" type="text/css" />

    <script src="{{ STATIC_URL }}js/lib/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/lib/jquery.cycle.js"></script>
    <script src="{{ STATIC_URL }}js/base.js"></script>

    <!--[if lt IE 9]><script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body class="{% block body-class %}{% endblock %}">

    <header id="siteheader" class="wrapper">
        <div class="container g-all-c">

            <div class="l-2c">
                <hgroup class="c-1">
                    <h2>{% trans "Estill voice training in Europe" %}</h2>
                    <h1 class="logo"><a href="{% url index %}">Hyldstrup &amp; Westmark</a></h1>

                </hgroup>

                <div id="estill-logo" class="c-2">
                    <img width="300px" src="{{ STATIC_URL }}img/estill_logo.jpg">
                </div>
                
            </div>

            <nav class="l-1c">
                {% get_flatpages as flatpages %}
                <ul>
                    <li><a href="/">{% trans 'Home' %}</a></li>
                    <li><a href="{% url course_list %}">{% trans 'Courses' %}</a></li>
                    <li><a href="/about/">{% trans 'About' %}</a></li>
                    <li><a href="/contact/">{% trans 'Contact' %}</a></li>

                </ul>

            </nav>
        </div>

    </header>

    <div id="content" class="wrapper">
        <div class="container g-all-c">
            <div class="l-2c">
                <div id="main" class="c-1">
                {% block content %}
                {% endblock %}
                </div>
                <div id="sidebar" class="c-2">
                {% block sidebar %}
                    <section>
                    <header><h1>Newsletter</h1></header>
                    <p>Sign up</p>

                    </section>

                {% endblock %}
                </div>
            </div>
        </div>
    </div>

    <footer id="sitefooter" class="wrapper">
        <div class="container g-all-c">

            <div class="c-1">{% flatblock "footer" %}
            </div>
            <!--<p>Hosted on a linode, powered by django and python developed by johan.cc</p>-->

            <nav class="c-1">


            <ul>

                <li><a href="/">{% trans 'Home' %}</a></li>
                    <li><a href="{% url course_list %}">{% trans 'Courses' %}</a></li>
            
                {% for page in flatpages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            </nav>

        </div>
    </footer>

{% if not user.is_staff %}

{% endif %}


</div>
</body>
</html>