{% extends "base.html" %}
{% load markup %}
{% load thumbnail %}
{% load flatblock_tags %}
{% load i18n %}

{% block title %}Hyldstrup & Westmark{% endblock %}

{% block body-class %}index{% endblock %}

{% block content %}

<section id="introduction">

<!--<div id="s1">
    <figure>
         <img src="{{ STATIC_URL }}img/slideshow01.jpg">
    </figure>
</div>-->

    {% flatblock "introduction" %}
</section>

<section id="current-courses" class="course-list">

    <h1 class="section-title">Current courses</h1>

    {% for object in course_list  %}
        {% include "courses/_course_list_item.html" %}
    {% endfor %}

    <footer>
        <a href="{% url course_list %}">{% trans "View all courses" %}</a>
    </footer>

</section>

{% endblock %}
